<section>
  <div class="home_container">
    <div class="home_content_description">
      <h1> Book In Morocco 2021 </h1>
      <p>In November 2020, <strong> 2287 author from Morocco 🇲🇦 </strong>
      told us about their jobs satisfaction, salaries, and community contribution, how they learn and level up, which tools they’re using, and what they want to learn next.</p>
      <button type="button" (click)="onNavigateToBookList()">Checkout Our Books</button>
    
    </div> 
    <div class="home_content_img">
      <img src="../../../assets/images/body/book_lover_mkck.svg" class="home-img">
    </div>
  </div>
</section>

<section>
  <div class="home_card_container">
    <div class="home_card_content">
      <img src="../../../assets/images/body/Bibliophile_hwqc.svg" class="home_card_img">
      <h3>Discoverd Our Bibliophile</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit mollitia officia quae libero omnis</p>
    </div>
    <div class="home_card_content">
      <img src="../../../assets/images/body/studying_s3l7.svg" class="home_card_img">
      <h3>Discoverd Our Bibliophile</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit mollitia officia quae libero omnis</p>
    </div>
    <div class="home_card_content">
      <img src="../../../assets/images/body/education_f8ru.svg" class="home_card_img">
      <h3>Discoverd Our Bibliophile</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit mollitia officia quae libero omnis</p>
    </div>
  </div>
</section>
